
<div class='container-fluid justify-content-center'>
    <div class='row'>
    <% @ideas.each do |idea|%>
    <div class='container-fluid card'>
    <h3><%= link_to(idea.title, idea_path(idea.id) )%></h3>
    <p> <%= idea.description %>...</p>
    <div class='container-fluid d-flex justify-content-between mb-2'>
    <span>By <%= idea.user.full_name %>
    <% if user_signed_in? %>
    <% like = current_user.likes.find_by_idea_id(idea) %>
    <% if like %>
        <%= link_to 'Unlike', idea_like_path(idea, like), method: :delete, :class=>'border border-dark rounded py-1 px-3 ml-5' %>
    <% else %>
        <%= link_to 'Like', idea_likes_path(idea), method: :post, :class=>'border border-dark rounded py-1 px-3 ml-5' %>
    <% end %>
    <% end %>
    </span>
    <span>Likes: <%= idea.likes.count%></span>
    </div>
    </div>
    <% end %>
    </div>
    </div>